*{
    box-sizing: border-box;
}

.kontener{
    max-width: 700px;
    margin: auto;
    align-items: center;
    justify-content: center;

}

.valami{
    display: grid;
    grid-template-columns: minmax(200px, 100px);
}