*{
    box-sizing: border-box;
}

.kontener{
    max-width: 800px;
    margin: auto;
    align-items: center;
    justify-content: center;

}

.valami{
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
    border-bottom: 1px solid grey;
}

footer{
    margin: auto;
    max-width: fit-content;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 0; 

}

.kuka{
    cursor: pointer;
}

.kuka:hover{
    
    background-color: red;
}